/* Base CSS */

*{
    box-sizing: border-box;
}

html{
font-size: 62.5%;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.6;
}

h1, h2, h3,h4 {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1;
}
h1,
.h1{
    font-size: 3.1rem;
   
}
h2
.h2 {
    font-size: 3.1rem;
    text-transform: uppercase;
}
h3
.h3{
    font-size: 2.1rem;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

ul {
    padding-left: 2rem;
}

li {
    margin-bottom: 1rem;
}

.list-unstyled{
   list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.grid__item {
    width: 100%;
}



@media screen and (min-width:750px){
    .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    
}
.accueil__item right{
    max-width: 50%;
}
}

/* Sections */

section {
    padding: 5.5rem 0;
}
.section-title {
    font-size: 3.5rem;
    text-transform: uppercase;
  

}

.header{
    background: white;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header .logo{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    
}

.navbar{
    display: none;
}

.header li {
    display: inline-flex;
    align-items: center;
    padding: 0 .5rem;
}

.header a {
    color: grey;
}

a:hover{
    color: peru;
}

.category {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    color: #5b6c78;
}



.header .right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reseaux{
    display: flex;
}

.reseaux a {
    padding: 0 2px;
}

.reseaux .icon{
    height: 25px;

}

.reseaux li {
    margin-bottom: 0;
}

.burger{
    background: none;
    border:none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
}

.burger .bar{
    display: block;
    width: 22px;
    height: 3px;
    background: black;
}

.burger .bar::before, .burger .bar::after{
    display: block;
    content: "";
    width: 22px;
    height: 3px;
    background: black;
    position: absolute;
}

.burger .bar::before{
transform: translateY(-8px);
}

.burger .bar::after{
transform: translateY(8px);
}

@media screen  and (max-width:749px){
    .navbar {
        display: flex;
        position: fixed;
        top: 55px;
        left: 110%;
        width: 100%;
        height: calc(100vh - 55px);
        background: #f5f5f5;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        transition: all .4s ease-out;
    }

    .navbar li {
        display: flex;
        justify-content: center;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        padding: 2rem;
        transition: all .4s;
    }

    .animation-nav nav {
        opacity: 1;
        width: 100%;
        left: 0;
        z-index: 2;
    }

    .animation-nav nav li a:hover {
        transform: scale(1.1);
        text-decoration: none;
    }


    .animation-nav .burger .bar {
        width: 0;
    }

    .burger .bar::after {
        transition: all .2s ease-out;
    }

    .animation-nav .burger .bar::before{
        transform: rotate(-45deg);
    }

     .animation-nav .burger .bar::after{
        transform: rotate(45deg);
    }
    
}

@media screen and (min-width:750px){
    .navbar{
        display:flex;
    }
    .burger{
    display: none;
   }
}

.accueil{
 background:#5b6c78;
 color: white;
 padding: 1rem 0 0 0;
}
.accueil .title {
    color:inherit;
    font-size: 5rem;
    margin: 1.6rem 0 0 0;
}

.accueil__item left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.accueil__item span {
    text-transform: uppercase;
}

.accueil__item.left{
    animation-duration: 1s;
    animation-name: slideInleft;
}

.accueil__item.right{
    animation-duration: 1s;
    animation-name: slideInRight;
}


@media screen  and (max-width:749px){
    .accueil__item.left{
    order:2;
}

    .accueil__item.right{
    order: 1;
}
}

@media screen and (min-width:750px) {
   .accueil__item{
    flex:1 0 50%;
    text-align: left;
   }

    .accueil__item left{
    align-items: flex-start;

}
    .accueil .title {
    font-size: 5rem;
   
}
    .accueil__avatar img{
        max-width: 400px;
        border-radius: 50%;
    }
}

@media screen  and (max-width:749px){
    .portfolio a {
        font-size: 1.4rem;

    }
    
}

@media screen and (min-width:750px){ 
    .grid__item img {
        padding-right: 3rem;
    }

    .portfolio .grid__item {
    max-width: 33%;
    
}


    
}

.aproposdemoi section{
    padding-top: 0;
}

.aproposdemoi .section-title {
margin-top: 2.8rem;
}

.competences * .competences p{
    margin: 0 0 0.3rem 0;
}
.competences li {
   background-color: white;
   border-left: 3px solid rgb(91,107,120);
   padding: .9rem 2rem;
}

.competences .progressbar {
    background: white;
    color: white;
    margin-bottom: 1rem;
}

.competences .bar {
    background: #5b6c78;
    padding: 1rem;
}

.portfolio {
    background: #f5f5f5;
}

.portfolio .grid__item{
    max-width: 50%;
    margin-bottom: 0;
}

.portfolio-filters .grid__item{
 
    max-width: 80%;
    margin-bottom: 0;
}

.portfolio-filters a {
    color: #333;
    background: #EEE;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
}

.portfolio-filters a.active {
    color: #FFF;
    background: #5b6c78;

}

.card {
 background: #FFF;
 text-transform: uppercase;
 position: relative;
 

}

.card__inner{
    padding:1rem;
}

.card__title {
    font-size: 1.5rem;
}


.card__overlay{
   background: rgba(0,0,0,0,8);
   position: absolute;
   top: 0;
   
   width: 100%;
   height: 100%;
   z-index:0;
   display: none;
}

.card__overlay a {
    font-size: 4.5rem;
    color: black;
    flex:1;
    display: flex;
    align-items: center;

    height: 100%;
}


.contact{
    max-width: 600px;
    margin: 4rem auto 0 auto;


}
/* Contact */

.contact input, .contact textarea{
    outline: none;
    display: block;
    width:100%;
    padding: 1rem;
    margin-bottom: 2rem;

}

.contact textarea {
    min-height: 200px;
}

.contact .btn{
    border: none;
    background: black;
    color: white;
    width: auto;
    min-width: 160px;
    font-size: 2rem;
    text-transform: uppercase;
}

.contact .btn:hover{
    cursor: pointer;
    background: black;
}


/* Footer */

footer{
    background: #5b6c78;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

footer p {
    margin: 0;
}

footer .reseaux {
    justify-content: center;
    text-align: center;

}

footer .reseaux a {
    color: #EEE;
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    transition: all .4s;
}

footer .reseaux li {
    padding:0 .7rem;
}

footer .grid {
    align-items: center;
}

footer .reseaux a:hover{
    background: #FFF;
    color: #333;
}


@media screen and (min-width:750px) {
    footer{
        text-align: left;
    }
    footer .grid__item{
        max-width: 33%;
    }
    
}

@keyframes slideInleft {
    from {
    transform: translateX(-110%);
    }
    to {
    transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
    transform: translateX(110%);
    }
    to {
    transform: translateX(0);
    }
}









